body {

    text-align: center;
    font-size: 20px;
    background-color: #F9F9F9;
}

.top {
    background-color: #d7e6e4;
    margin: 0 auto;
    border: solid #F9F2ED 2px 2px 0px 2px;
    border-radius: 20px 20px 0px 0px;
    padding-top: 25px;
    border-radius: 5px 5px 10px 10px;
}

img {
    position: relative;
    text-align: center;
}

h1 {
    position: relative;
    top: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.65rem;
    color: #92B4EC;
    line-height: 1;
}

h2 {
    color: #92B4EC;
    font-size: 2.5rem;

}

h3 {
    color: #92B4EC;
}

p {
    position: relative;
    font-family: 'Merriweather', serif;
    font-size: 1.5rem;
    line-height: 2;

}

hr {
    border: dotted #eaf6f6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;

}

a {
    margin: 10px 20px;
}

a:hover {
    color: rgb(233, 200, 200);
}

.topcloud {
    position: absolute;
    right: 225px;
    top: 40px;
}

.bottomcloud {
    position: absolute;
    left: 250px;
    top: 310px;
}

.first {
    background-color: #F9F2ED;
    height: 200px;
    width: 100%;

}

.second {
    height: 200px;
    width: 100%;

}

.profile {
    padding: 20px;

}

.middle-container {
    border-radius: 10px;
    margin: 100px auto;

}

.pro {
    text-decoration: underline;
}

.intro {
    width: 30%;
    margin: 0 auto;
}

.image1 {
    border: solid #11999E 2px;
    border-radius: 5px;
    height: 15%;
    width: 25%;
    float: left;
    margin-right: 30px;
}

.skill-row {
    width: 50%;
    margin: 150px auto 150px auto;
    text-align: left;

}

.myself {
    position: relative;
    border-radius: 50%;

}

.skate {
    border-radius: 6px;
    border-color: #11999E;
    float: right;
    margin: 20px -5px auto auto;
    height: 160px;


}

.contact-me {
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
}

.copywright {
    color: white;
    font-size: 1.2rem;
    padding: 20px 0;
    margin: 20px auto 5px;
    font-family: 'Merriweather', serif;
}

.bottom-container {
    padding: 50px 0 20px;
    background-color: #91908f;
}

.contactme {
    width: 40%;
    margin: 40px auto 60px;
}

.myButton {
    box-shadow: inset 0px 0px 1px 0px #9fb4f2;
    background-color: #4b77c4;
    border-radius: 12px;
    border: 2px solid #4e6096;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    font-weight: bold;
    padding: 16px 31px;
    text-decoration: none;
    text-shadow: 0px 1px 14px #283966;
}

.myButton:hover {
    background-color: #083368;
}

.myButton:active {
    position: relative;
    top: 1px;
}

.twitter {
    color: rgb(29, 155, 240);

}

.github {
    color: black;
}

@media (max-width: 990px) {
    .topcloud {
        display: none;
    }

    .bottomcloud {
        display: none;
    }
}

@media (max-width: 590px) {
    img {
        width: 375px;
        height: 350px;
    }

    .skate {
        width: 225px;
        height: 175px;
    }
}